<div id="<%= dom_id group %>">
  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

   <p>
    <strong>Total:</strong>
    <%= number_to_currency(group.calc_total) %>
  </p>

</div>
