<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to(group_spends_path(group)) do %>
    <%= render group %>
    <% end %>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
