<nav>
  <div class="auth-header">
    <%= link_to :back, class: "flex items-center justify-center p-2" do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
     <h2 class="text-lg uppercase"><%= @title %></h2>
     <%= link_to("Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "logout-button") %>
  </div>
</nav>